body{
    background: url(../images/barbell-building-challenge-1552252.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.logo{
    margin-top: 9px;
    margin-right:5px;
    width: 50px;
    height: 50px;
}